{% extends 'base.html' %}
{% set active_page = 'home' %}
{% block head %}

    <title>Home</title>
    
{% endblock %}

{% block body %}
<div class="card-group ">
    <div class="card .bg-dark">
      <img src="https://images.unsplash.com/photo-1586282023692-6bfbd629e85d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Your personal task buddy
        </h5>
        <p class="card-text ">Schedule Tasks</p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Weekly Tasks</h5>
        <p class="card-text">Highlighted Weekly Tasks</p>
      </div>
    </div>
    <div class="card ">
      <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Alerts</h5>
        <p class="card-text ">Reminders for overdue tasks</p>
      </div>
    </div>
</div>
    
{% endblock %}